ユニコの脳みそ/00/Legacy_Tools/2026-01-09_参考_Threads自動投稿ツール_購入分.json
{
  "name": "ベースWF",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/me/threads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.threadsAccessToken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "media_type",
              "value": "TEXT"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a2a16861-b2f6-425c-a89c-377ec166f86b",
      "name": "Threads投稿作成1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ifhj0q0YlnwpPskN",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/me/threads_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.threadsAccessToken}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "8fa71461-f12e-465a-a461-683815778ae3",
      "name": "Threads投稿公開1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ifhj0q0YlnwpPskN",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09EVP2SLP7",
          "mode": "list",
          "cachedResultName": "テスト"
        },
        "text": "={{ $('AI Agent2').item.json.output }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "aaabe1d6-af3a-441e-8014-f935eeda0b7b",
      "name": "Slack通知1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1856,
        192
      ],
      "webhookId": "dbb1af5e-e820-496c-a8b3-f28e27d2aed4",
      "credentials": {
        "slackApi": {
          "id": "BFOJYn9iJdrmuK6C",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7,8,12,13,16,18,19,20,21,22 * * *"
            }
          ]
        }
      },
      "id": "1d9ccb66-f0dc-4ce5-8258-d54f180ddb36",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        192
      ],
      "notes": "毎日指定時間の0分に実行（この後±15分のランダム遅延を追加）"
    },
    {
      "parameters": {
        "jsCode": "// 1〜15分のランダム遅延を挿入\nconst delayMinutes = Math.floor(Math.random() * 15) + 1;  // 1〜15分に設定\nreturn [{ json: { delay: delayMinutes } }];"
      },
      "id": "a6aa37bd-d70e-446a-9bc2-9dedbdd2892e",
      "name": "ランダム遅延計算1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        192
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}",
        "unit": "minutes"
      },
      "id": "e97c0cb5-4aae-4285-a936-e09cecda7ab7",
      "name": "Delay実行1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ],
      "webhookId": "45a931b1-8f44-4935-9042-542f196e0860"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA",
          "mode": "list",
          "cachedResultName": "【購入者様用】投稿生成テンプレ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719012194,
          "mode": "list",
          "cachedResultName": "構成",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit#gid=719012194"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:D"
            }
          }
        }
      },
      "id": "09f7e50d-afc8-4a9c-9633-d7237cf7d2df",
      "name": "構成パターン読込2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rf3y6xjANsRrNyh6",
          "name": "Google Sheets account（テスト）"
        }
      },
      "notes": "スプレッドシートから構成パターンを読み込み\n列A: 構成ID\n列B: 構成名\n列C: 構成説明\n列D: 構成テンプレート"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA",
          "mode": "list",
          "cachedResultName": "【購入者様用】投稿生成テンプレ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "フック",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:D"
            }
          }
        }
      },
      "id": "b78f8045-b18b-47e2-ad21-6cf2aedd66e5",
      "name": "フックパターン読込2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        192
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rf3y6xjANsRrNyh6",
          "name": "Google Sheets account（テスト）"
        }
      },
      "notes": "列A: フックID\n列B: フック名\n列C: フックテンプレート"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA",
          "mode": "list",
          "cachedResultName": "【購入者様用】投稿生成テンプレ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 299263929,
          "mode": "list",
          "cachedResultName": "トーン",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLQLzcxa1gXzchtmFZPsGG6Zqh-VaaYuaCYqyr0fVVA/edit#gid=299263929"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:D"
            }
          }
        }
      },
      "id": "d6c1ad74-de4b-4d04-aa66-564d8a3940a7",
      "name": "トーンパターン読込2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        384
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rf3y6xjANsRrNyh6",
          "name": "Google Sheets account（テスト）"
        }
      },
      "notes": "列A: トーンID\n列B: トーン名\n列C: トーン指示"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// プロンプト要素抽出コード（重み付きランダム最適化版）\n// n8n Codeノード想定\n// ========================================\n\n// -------- Utils --------\nconst hasOwn = (o, k) => o && Object.prototype.hasOwnProperty.call(o, k);\nconst get = (o, k, d='') => (hasOwn(o,k) && String(o[k]).trim() !== '' ? o[k] : d);\nconst toNum = (v) => Number(String(v ?? '').trim());\nconst pickOne = (arr) => arr[Math.floor(Math.random() * arr.length)];\nconst inRange = (n, a, b) => Number.isFinite(n) && n >= a && n <= b;\n\n// 重み付きランダム\nfunction pickWeighted(options, { avoid = null, retry = 10 } = {}) {\n // options: [{t: '商品訴求', w: 0.1}, ...] or [{item: obj, w: 0.2}, ...]\n // 合計が1でなくても正規化\n const sum = options.reduce((s, o) => s + (o.w ?? 0), 0);\n  const norm = sum > 0 ? options.map(o => ({ ...o, w: o.w / sum })) : options;\n\n  // 直近タイプの連投を避けたい場合は数回引き直し\n  for (let tries = 0; tries < retry; tries++) {\n    const r = Math.random();\n    let acc = 0;\n    for (const o of norm) {\n      acc += o.w;\n      if (r <= acc) {\n        const val = o.t ?? o.item ?? o;\n        if (avoid && val === avoid && tries < retry - 1) break; // 引き直し\n return val;\n }\n }\n }\n // フォールバック\n return (norm[0]?.t ?? norm[0]?.item ?? norm[0]);\n}\n\n// タイプ列の候補キー\nconst TYPE_KEYS = ['投稿タイプ', 'タイプ', '種別', 'postType'];\n\n// 指定タイプにマッチする行から抽選（無ければ全体から）\nfunction pickByTypeOrAny(rows, typeName) {\n const typed = rows.filter(r => TYPE_KEYS.some(k => (r[k] ?? '').trim() === typeName));\n  if (typed.length) return pickOne(typed);\n  return pickOne(rows);\n}\n\n// -------- Read raw rows (from previous nodes) --------\nconst structuresRaw = $('構成パターン読込2').all().map(i => i.json);\nconst hooksRaw      = $('フックパターン読込2').all().map(i => i.json);\nconst tonesRaw      = $('トーンパターン読込2').all().map(i => i.json);\n\nif (!structuresRaw.length) throw new Error('構成パターン読込2：0件です。シート/範囲/ノード名を確認してください。');\nif (!hooksRaw.length)      throw new Error('フックパターン読込2：0件です。シート/範囲/ノード名を確認してください。');\nif (!tonesRaw.length)      throw new Error('トーンパターン読込2：0件です。シート/範囲/ノード名を確認してください。');\n\n// -------- Normalizers（旧スキーマ吸収） --------\nconst normalizeStructure = (r) => {\n  const id =\n    get(r, '構成ID') || get(r, 'ID') || get(r, 'No') || get(r, '1');\n  const name =\n    get(r, '構成名') || get(r, '限定性アピール') || '';\n  const trigger =\n    get(r, '心理トリガー') || get(r, '希少性・損失回避') || '';\n  let template = get(r, '構成テンプレート', '');\n  if (!template) {\n    const key = Object.keys(r).find(k =>\n      /^1[\\.\\s]/.test(k) || /限定性|ベネフィット|CTA|ステップ|方法|解決|成功事例|特徴/.test(k)\n    );\n    if (key) template = get(r, key, '');\n  }\n  // タイプ列があれば残す（後でタイプフィルタに使う）\n  const typeKey = TYPE_KEYS.find(k => hasOwn(r, k));\n  const typeVal = typeKey ? get(r, typeKey) : '';\n  return {\n    構成ID: String(id ?? '').trim(),\n    構成名: String(name ?? '').trim(),\n    心理トリガー: String(trigger ?? '').trim(),\n    構成テンプレート: String(template ?? '').trim(),\n    ...(typeVal ? { 投稿タイプ: typeVal } : {}),\n  };\n};\n\nconst normalizeHook = (r) => {\n  const id =\n    get(r, 'フックID') || get(r, 'ID') || get(r, 'No') || get(r, '1');\n  const name =\n    get(r, 'フック名') || get(r, '衝撃告白') || '';\n  const effect =\n    get(r, '心理効果') || get(r, '意外性・注目') || '';\n  let template = get(r, 'フックテンプレート', '');\n  if (!template) {\n    const key = Object.keys(r).find(k =>\n      /『.*』|「.*」|写真|残り|比較|最短|注意|答え|今|%|％|理由|派|終了|注意|データ/.test(k)\n    );\n    if (key) template = get(r, key, '');\n  }\n  const typeKey = TYPE_KEYS.find(k => hasOwn(r, k));\n  const typeVal = typeKey ? get(r, typeKey) : '';\n  return {\n    フックID: String(id ?? '').trim(),\n    フック名: String(name ?? '').trim(),\n    心理効果: String(effect ?? '').trim(),\n    フックテンプレート: String(template ?? '').trim(),\n    ...(typeVal ? { 投稿タイプ: typeVal } : {}),\n  };\n};\n\nconst normalizeTone = (r) => {\n  const id =\n    get(r, 'トーンID') || get(r, 'ID') || get(r, 'No') || get(r, '1');\n  const name = get(r, 'トーン名') || get(r, 'フランク純粋') || '';\n  const basePlus =\n    get(r, 'ベース＋追加要素') || get(r, 'ベース+追加要素') || get(r, 'フランクのみ') || '';\n  let instr = get(r, 'トーン指示', '');\n  if (!instr) {\n    const key = Object.keys(r).find(k =>\n      /友達に話すような|絵文字|体験談|数字|共感|実況|告白|比較|振り返り|レビュー|相談|予告|宣言|例え|煽り/.test(k)\n    );\n    if (key) instr = get(r, key, '');\n  }\n  const typeKey = TYPE_KEYS.find(k => hasOwn(r, k));\n  const typeVal = typeKey ? get(r, typeKey) : '';\n  return {\n    トーンID: String(id ?? '').trim(),\n    トーン名: String(name ?? '').trim(),\n    'ベース＋追加要素': String(basePlus ?? '').trim(),\n    トーン指示: String(instr ?? '').trim(),\n    ...(typeVal ? { 投稿タイプ: typeVal } : {}),\n  };\n};\n\n// 正規化配列\nconst structures = structuresRaw.map(normalizeStructure).filter(s => s.構成名 || s.構成テンプレート);\nconst hooks      = hooksRaw.map(normalizeHook).filter(h => h.フック名 || h.フックテンプレート);\nconst tones      = tonesRaw.map(normalizeTone).filter(t => t.トーン名 || t['ベース＋追加要素'] || t.トーン指示);\n\nif (!structures.length) throw new Error('構成パターン：正規化後に0件です。シート/範囲/ノード名を確認してください。');\nif (!hooks.length)      throw new Error('フックパターン：正規化後に0件です。シート/範囲/ノード名を確認してください。');\nif (!tones.length)      throw new Error('トーンパターン：正規化後に0件です。シート/範囲/ノード名を確認してください。');\n\n// -------- 投稿タイプ：重み付きランダム（②） --------\nconst POST_TYPE_WEIGHTS = [\n  { t: '商品訴求',                   w: 0.10 },\n  { t: 'ソフトCTA',                   w: 0.10 },\n  { t: '価値提供',                   w: 0.40 },\n  { t: '共感・感情タイプ',           w: 0.10 },\n  { t: 'ストーリータイプ',           w: 0.10 },\n  { t: '問いかけ・インタラクションタイプ', w: 0.05 },\n  { t: 'ノウハウ系',                 w: 0.20 },\n  { t: '訴求系',                     w: 0.05 },\n];\n\n// 連投防止（前回のタイプを避ける）\nconst g = $getWorkflowStaticData('global');\nconst lastType = g.lastPostType || null;\nconst postType = pickWeighted(POST_TYPE_WEIGHTS, { avoid: lastType, retry: 8 });\ng.lastPostType = postType;\n\n// -------- タイプに応じた抽選（該当がなければ全体から） --------\nconst selectedStructure = pickByTypeOrAny(structures, postType);\nconst selectedHook      = pickByTypeOrAny(hooks, postType);\nconst selectedTone      = pickByTypeOrAny(tones, postType);\n\n// -------- タイプ別：CTA/商品/箇条書きの確率設計 --------\nconst CTA_PROB_BY_TYPE = {\n  '商品訴求': 0.35, 'ソフトCTA': 0.25, '価値提供': 0.10, '共感・感情タイプ': 0.05,\n  'ストーリータイプ': 0.05, '問いかけ・インタラクションタイプ': 0.05, 'ノウハウ系': 0.15, '訴求系': 0.30,\n};\nconst PRODUCT_PROB_BY_TYPE = {\n  '商品訴求': 0.35, 'ソフトCTA': 0.15, '価値提供': 0.05, '共感・感情タイプ': 0.03,\n  'ストーリータイプ': 0.05, '問いかけ・インタラクションタイプ': 0.03, 'ノウハウ系': 0.10, '訴求系': 0.30,\n};\nconst BULLET_PROB_BY_TYPE = {\n  '商品訴求': 0.20, 'ソフトCTA': 0.20, '価値提供': 0.25, '共感・感情タイプ': 0.15,\n  'ストーリータイプ': 0.10, '問いかけ・インタラクションタイプ': 0.10, 'ノウハウ系': 0.40, '訴求系': 0.20,\n};\n\nconst shouldIncludeCTA = Math.random() < (CTA_PROB_BY_TYPE[postType] ?? 0.10);\nconst shouldIncludeProductName = shouldIncludeCTA && (Math.random() < (PRODUCT_PROB_BY_TYPE[postType] ?? 0.05)); // 商品はCTAがある時だけ\nconst shouldIncludeBulletPoints = Math.random() < (BULLET_PROB_BY_TYPE[postType] ?? 0.25);\n\n// -------- 文字数：タイプ別の重み付き --------\nconst LENGTH_PATTERNS = [\n { min: 50, max: 100, key: 'S' },\n { min: 100, max: 150, key: 'M' },\n { min: 150, max: 200, key: 'L' },\n { min: 200, max: 250, key: 'XL' },\n];\n// タイプ→長さの重み（短文向き/長文向きの傾向）\nconst LENGTH_WEIGHTS_BY_TYPE = {\n '商品訴求': [ {i:0,w:0.2},{i:1,w:0.5},{i:2,w:0.2},{i:3,w:0.1} ],\n 'ソフトCTA': [ {i:0,w:0.2},{i:1,w:0.5},{i:2,w:0.2},{i:3,w:0.1} ],\n '価値提供': [ {i:0,w:0.1},{i:1,w:0.3},{i:2,w:0.35},{i:3,w:0.25} ],\n '共感・感情タイプ': [ {i:0,w:0.25},{i:1,w:0.45},{i:2,w:0.2},{i:3,w:0.1} ],\n 'ストーリータイプ': [ {i:0,w:0.1},{i:1,w:0.25},{i:2,w:0.35},{i:3,w:0.3} ],\n '問いかけ・インタラクションタイプ': [ {i:0,w:0.35},{i:1,w:0.45},{i:2,w:0.15},{i:3,w:0.05} ],\n 'ノウハウ系': [ {i:0,w:0.1},{i:1,w:0.3},{i:2,w:0.35},{i:3,w:0.25} ],\n '訴求系': [ {i:0,w:0.15},{i:1,w:0.5},{i:2,w:0.25},{i:3,w:0.1} ],\n};\nconst lw = LENGTH_WEIGHTS_BY_TYPE[postType] ?? [ {i:1,w:0.5},{i:2,w:0.5} ];\nconst selectedLength = (() => {\n  const opts = lw.map(o => ({ item: LENGTH_PATTERNS[o.i], w: o.w }));\n  return pickWeighted(opts);\n})();\n\n// -------- 商品名候補 --------\nconst products = [\n  'AIでサクッと副業占い完全ガイド',\n  'note爆速ブートパック',\n  'AI爆速マネタイズ術',\n  'ChatGPT多方面マネタイズ',\n  '副業占いコンサル',\n  'アフィられる側戦略',\n  'ゆるっとマネー部（月額980円）',\n  '副業自動化システム構築術',\n];\n\n// -------- CTA/商品名の生成 --------\nlet cta = '';\nlet selectedProductName = '';\nif (shouldIncludeCTA) {\n  cta = '詳細はプロフィールへ。';\n  if (shouldIncludeProductName) {\n    selectedProductName = pickOne(products);\n    cta += `\\n\\n${selectedProductName}も一度覗いてみてほしい。`;\n  }\n}\n\n// -------- 最終出力 --------\nconst output = {\n  構成ID: String(get(selectedStructure, '構成ID')),\n  構成名: String(get(selectedStructure, '構成名')),\n  心理トリガー: String(get(selectedStructure, '心理トリガー')),\n  構成テンプレート: String(get(selectedStructure, '構成テンプレート')),\n\n  フックID: String(get(selectedHook, 'フックID')),\n  フック名: String(get(selectedHook, 'フック名')),\n  心理効果: String(get(selectedHook, '心理効果')),\n  フックテンプレート: String(get(selectedHook, 'フックテンプレート')),\n\n  トーンID: String(get(selectedTone, 'トーンID')),\n  トーン名: String(get(selectedTone, 'トーン名')),\n  'ベース+追加要素': String(get(selectedTone, 'ベース＋追加要素')), // 出力名は半角＋に統一\n  トーン指示: String(get(selectedTone, 'トーン指示')),\n\n  postType, // 重み付きで決定\n  CTA: cta,\n  商品名: selectedProductName,\n  文字数: `${selectedLength.min}~${selectedLength.max}字`,\n  shouldIncludeBulletPoints: shouldIncludeBulletPoints,\n  shouldIncludeProductName: shouldIncludeProductName,\n};\n\nreturn [{ json: output }];\n"
      },
      "id": "5821b39b-d238-4ec2-b3b7-75cffa5acd3e",
      "name": "プロンプト生成1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        192
      ],
      "notes": "構成・フック・トーンをランダムに組み合わせて\nより自然な投稿を生成するプロンプトを作成"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        176
      ],
      "id": "ab665700-7ee9-4631-aeef-d3f1a4e9bc05",
      "name": "Merge1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        192
      ],
      "id": "ffbd6321-cb13-4751-8852-0d9c91382c0f",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        192
      ],
      "id": "65f74bb8-a636-40a0-9a10-08fbfd66e04a",
      "name": "Wait1",
      "webhookId": "57a383e1-b657-4528-a7bb-604cae2e4d77"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        416
      ],
      "id": "c1c5b7a9-83c5-4c59-881f-edd4c55657b0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "et14cGIReSfg4o8x",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * このコードはn8nの「Code」ノードで実行されることを想定しています。\n * 入力として受け取ったJSONデータを処理し、OpenAIに渡すためのプロンプトを生成します。\n */\n\n// n8nの入力データを取得します。通常は items[0].json に格納されています。\nconst json = items[0].json;\n\n// `json.CTA`と`json.商品名`の存在チェックをより安全に行う\nconst ctaPart = json.CTA ? `CTAと商品を自然な文脈で文章に含めて。` : `CTAと商品名は含めない。`;\nconst productNamePart = json.商品名 ? `特に商品名「${json.商品名}」は必ず1回だけ含めること。` : '';\nconst ctaAndProductNameSection = `\n【CTAと商品名（追加指示）】\n${ctaPart}\n${productNamePart}\n`.trim();\n\n// 文字数の指定を正しく変数に置き換える\nconst wordCount = json.文字数;\nconst productName = json.商品名;\n\nconst promptString = `\nあなたは、「副業×AI×note×占い×Threads」のノウハウを使って、本業を超える収入を得る副業構築を教える超凄腕SNSマーケターです。一人称は「私」。伝え方は親しみ重視、でも中身はプロ級。副業の“理想像”を与えつつ、悩みそのものではなく、悩みに隠れている「感情」に刺すように、そして「自分もできそう」と感じさせて行動を促します。\n以下の条件でThreads投稿を生成してください。\n\n【今回の投稿タイプ】${json.postType}\n・トリガー：\n  - 構成名：${json.構成名}\n  - 心理トリガー：${json.心理トリガー}\n  - 構成テンプレート：${json.構成テンプレート}\n・フック\n  - フック名：${json.フック名}\n  - 心理効果：${json.心理効果}\n  - フックテンプレート：${json.フックテンプレート}\n・トーン\n  - トーン名：${json.トーン名}\n  - ベース+追加要素：${json[\"ベース+追加要素\"]}\n  - トーン指示：${json.トーン指示}\n・CTA\n  - ${json.CTA}\n・商品名\n  - ${json.商品名}\n・文字数\n  - ${wordCount}\n\n【出力の絶対的ルール】\n・本文のみ。見出し/注意書き不要\n・改行を多用し、句読点で視認性を高くし読みやすくする\n・AI特有の記号「#」「*」「:」などは禁止（全角半角共に）\n\n【自己チェック（必須）】\n・以下の項目を満たしていない場合は、自動で３回までリライトすること。\n・文末「。」で改行されてるか\n・* : が入っていないか\n・${wordCount}か\n・${$input.first().json[\"商品名\"]} の記載は1回か\n・箇条書きや改行で視認性が高いか\n\n【アカウント設計の４要素】\nあなたのアカウント設計は以下の4要素で定義されています：\n・誰が：元会社員で副業×AI×占い×noteで月商100万円を達成した僕が\n・誰を：副業初心者で、noteやSNSをやってるけど伸びずに悩んでいる主婦や会社員を\n・どこへ：本業を超える収入と、好きなことで稼ぎながら時間と家族との自由を手に入れる未来へ\n・どうやって：占い×note販売×Threads集客×AIツール販売の“自動化副業ハイブリッド”で\n\n【ペルソナ例】\n・noteを3記事書いたけど売れずに挫折中の主婦\n・Threadsで毎日投稿してるけど反応ゼロの会社員\n・占いやスピリチュアルに興味があるけど稼ぐ方法がわからない初心者\n・AIに興味あるけど使いこなせずに放置してる人\n\n【出力スタイル】\n・毎回、構成や口調・スタイルに変化をつける\n・AI特有の記号「#」「*」「:」などは禁止\n\n【口調】\n・超砕けた日常語（絵文字OK、若干の若者言葉可）\n・“ですます”調NG、「〜だよね」「〜してる人多い」など会話的に\n・「でもさ」「ちなみに」など口語的な接続詞も歓迎\n・売り込み感ゼロ、信頼と共感優先\n\n【絶対に入れる要素】\n・「検索しても出ない」「現場で拾った」「高額コンサルで語られる類」の実戦ノウハウを1〜2個\n\n【最終依頼】\n上記すべてを踏まえ、Threadsに投稿する新規オリジナル本文のみを出力。\n前置き・見出し、注意書き、その他補足は不要。本文だけ。\n`.trim();\n\n// n8nの「Code」ノードが期待する形式（オブジェクトの配列）で結果を返します。\n// ここでは、`threadsPrompt`というキーで生成したプロンプトを格納しています。\nreturn [{\n  json: {\n    chatInput: promptString\n  }\n}];\n"
      },
      "id": "200cb004-7bb1-4f46-87e2-2ad4b8ecf7d8",
      "name": "プロンプト生成２",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        192
      ],
      "notes": "構成・フック・トーンをランダムに組み合わせて\nより自然な投稿を生成するプロンプトを作成"
    }
  ],
  "pinData": {},
  "connections": {
    "Threads投稿作成1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads投稿公開1": {
      "main": [
        [
          {
            "node": "Slack通知1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "ランダム遅延計算1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ランダム遅延計算1": {
      "main": [
        [
          {
            "node": "Delay実行1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay実行1": {
      "main": [
        [
          {
            "node": "構成パターン読込2",
            "type": "main",
            "index": 0
          },
          {
            "node": "フックパターン読込2",
            "type": "main",
            "index": 0
          },
          {
            "node": "トーンパターン読込2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "構成パターン読込2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "フックパターン読込2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "トーンパターン読込2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "プロンプト生成1": {
      "main": [
        [
          {
            "node": "プロンプト生成２",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "プロンプト生成1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Threads投稿作成1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Threads投稿公開1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "プロンプト生成２": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fa0bfea8-31b5-4b18-b905-979a58a49820",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21fe96770aa0bb9c1b982bf5373c29bcccce48cfd5244a8d868148eec0c9d02c"
  },
  "id": "2jrj23HMgtSi0M6b",
  "tags": []
}
